.DS_Store
dataset/oxygen.xpr
dataset/stats/
dataset/#.gitignore#
dataset/oldversions/
dataset/mrc/
dataset/xml-inprogress/
RDARegistry/
.gitignore~
.idea/
backend/node_modules/
backend/.idea/
client/node_modules/
client/.idea/
.idea/workspace.xml
.idea/workspace.xml
*.bak
*.bak
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
backend/.env
.idea/workspace.xml
LRMSearch.xpr
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
