.expression:nth-child(2n) {
    background-color: WhiteSmoke;
}

.expressiontitle{
    color: blue;
}

.expressionheading{
   width : 20%;
    margin-right: 200px;
}

.worktitle{
    color: dimgray;
    font-style: italic;
}

.creatorname{
    color: dimgray;
    font-size: smaller;
}

.manifestation {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: outside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}

.manifestationselected {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: '\2705\0020';      /* 2714     */
    list-style-position: outside;
    align-content: center;/* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}